img{
    height: 240px;
    display: inline-flex;
    border: solid green;
    
    
}
.myprojects{
    background-image: linear-gradient(rgba(25,43,76,0.8),rgba(25,43,76,0.8)),url("/home/sandrine/Desktop/background.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 90vh;
}


h1{
    font-size: 60px;
    text-shadow: 2px 2px white;
    text-align: center;
}
p{
    color:wheat;
    
     font-size:20px;
     padding:30px;
     text-align: center;
     font-weight: bold;
}
.aboutp{
    background-color:black;
    padding: 5px;

}
.aboutn{
    background-color:black;
    padding: 5px;
}
